$keywordHeight: 28px;

.articles-edit-form {
  .el-tag.article-keyword {
    height: $keywordHeight;
    vertical-align: middle;
    line-height: 26px;
    margin-right: 8px;
  }
  .el-button.article-button-new-keyword {
    color: #48576a;
    font-weight: 500 !important;
    height: $keywordHeight;
  }
  .el-input.article-input-new-keyword {
    display: inline-block;
    width: 90px;
    height: $keywordHeight;
    input {
      height: $keywordHeight;
    }
  }
  .el-select {
    width: 280px;
  }

  .intro-edit .CodeMirror,
  .intro-edit .CodeMirror-scroll {
    min-height: 150px;
  }
}

.articles-item-info {
  margin-bottom: 15px;
  text-align: right;
  .updated {
    color: #909dab;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.articles-item-cover-image {
  height: 300px;
  border-radius: 5px;
}

.articles-item-actions {
  float: right;
  margin: 15px 0;
  .save-btn {
    float: left;
  }
  .el-dropdown {
    display: inline-block;
    margin-left: 10px;
  }
}
