.articles-list {
  .el-table {
    border: 0 !important;
    &:before {
      height: 0 !important;
    }
    &:after {
      width: 0 !important;
    }
  }
  .el-table__fixed-header-wrapper thead div,
  .el-table__header-wrapper thead div {
    color: #5e6d82;
  }
  .create-article-btn {
    margin: 15px 0;
    float: right;
  }
  .el-tooltip.articles-actions-tooltip {
    display: inline-block;
    margin-right: 0;
  }

  .articles-list-status {
    text-transform: uppercase;
    letter-spacing: 1px;
    &.draft {
      color: #F7BA2A;
    }
    &.published {
      color: #13CE66;
    }
  }
}
