.auth-view {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  .auth-login-form {
    margin-top: 50px;
    .el-form-item__label {
      font-weight: bold;
    }
    .el-input__inner {
      border-radius: 2px;
    }
    .el-button--primary {
      font-weight: bold;
      border-radius: 2px;
    }
  }
}
