$categoryHeight: 28px;

.settings {
  h2 {
    margin-bottom: 0;
  }

  hr {
    border: 0;
    border-bottom: 1px solid rgba(191, 203, 217, .5);
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .settings-picture-image {
    width: 120px;
    min-height: 120px;
    border-radius: 50%;
    border: 1px solid #bfcbd9;
    padding: 5px;
  }

  .el-input.is-disabled .el-input__inner {
    background-color: rgba(238, 241, 246, .5);
    color: inherit;
  }

  .el-form-item__content {
    .el-tooltip,
    .el-tooltip__rel {
      width: 100%;
    }
  }

  .el-tag.category-item {
    height: $categoryHeight;
    vertical-align: middle;
    line-height: 26px;
    margin-right: 8px;
  }
  .el-button.button-new-category {
    color: #48576a;
    font-weight: 500 !important;
    height: $categoryHeight;
  }
  .el-input.input-new-category {
    display: inline-block;
    width: 96px;
    height: $categoryHeight;
    input {
      height: $categoryHeight;
    }
  }
}
